@model WebApplication1.Models.IndexViewModel
@using WebApplication1.Helpers

@{
	ViewBag.Title = "Книжный магазин";
}

<div>
	<h3>Распродажа книг</h3>
	@Html.ActionLink("Добавить книгу", "Create")
	<table>
		<tr>
			<td><p>Название книги</p></td>
			<td><p>Автор</p></td>
			<td><p>Цена</p></td>
			<td></td>
		</tr>
		@foreach (var b in Model.Books)
		{
			<tr>
				<td><p>@b.Name</p></td>
				<td><p>@b.Author</p></td>
				<td><p>@b.Price</p></td>
				<td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
			</tr>
		}
	</table>
	@Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new { page = x }))

	@*@Html.Action("Partial", "My")*@
	@Html.Partial("~/Views/My/Partial.cshtml")
</div>
